/* CSS universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0D1B1E;
}


header h1 {
    font-size: 40px;
    color: #7798AB;
}

header a {
    text-decoration: none;
    color: #7798AB;
}

nav {
    font-size: 20px;
    padding-top: 20px;
}

nav ul li {
    color: #7798ab;
    list-style-type: none;
    margin-left: 25px;
    display: inline-block;
}

aside ul li {
    color: #7798ab;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

/* class selectors */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e8dcb9;
    padding: 20px;
    margin: 30px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c3dbc5;
    padding: 30px;
    margin: 30px;
}


.navigation {
    padding: 20px;
}

.main-header {
    display: flex;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    width: 220px;
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
}

.card p {
    padding: 10px;
}

.card h2 {
    padding: 10px;
}

.card-image {
    height: 100px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.face-image {
    height: 150px;
    width: 150px;
    background-size: cover;
}

.project-1 {
    background-image: url('./images/filmdimension.PNG')
}

.project-2 {
    background-image: url('./images/dayplanner.png');
}

.project-3 {
    background-image: url('./images/ECOMM.png');
}

.head-shot {
    background-image: url('./images/HEAD.PNG');
}


